<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <h1>main</h1>
  <input type="button" name="button1">
  <input type="button" name="button2">
  <input type="button" name="button3">
  <input type="button" name="button4">
  <input type="button" name="button5">

  <form>
  <input type="text" name="idInput">
  <input type="password" name="pwInput">
    <input type="submit">
  </form>

  <form>
    <input type="text" name="idSignedUp">
    <input type="password" name="nameSignedUp">
    <input type="text" name="nameSignedUp">
    <input type="email" name="emailSignedUp">
    <input type="date" name="birthdaySignedUp">
    <input type="submit">
  </form>
  <form>
    <input type="text" name="nameSignedUp">
    <input type="date" name="birthdaySignedUp">
    <input type="submit">
  </form>

<form>
  <input type="text" name="id11">
  <input type="email" name="address11">

</form>

</body>
</html>